---
import { getLinks } from "@/lib/helpers";
import { cn } from "@/lib/utils";
import { ChevronDownIcon } from "@radix-ui/react-icons";

const links = await getLinks();
---

<div class="flex gap-1">
  {
    links.map(({ children, name, link, active }) => {
      if (!children) {
        return (
          <a
            href={link}
            class={cn(
              "btn btn-ghost font-normal text-base-content/60 sm:btn-md btn-sm",
              active(Astro.url.pathname) && "text-base-content",
            )}
          >
            {name}
          </a>
        );
      }

      return (
        <div class="dropdown dropdown-hover">
          <div
            tabindex="0"
            role="button"
            class={cn(
              "btn btn-ghost font-normal text-base-content/60 sm:btn-md btn-sm",
              active(Astro.url.pathname) && "text-base-content",
            )}
          >
            {name}
            <ChevronDownIcon className="size-4" />
          </div>
          <ul
            tabindex="-1"
            class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow text-base-content/60"
          >
            {children.map((child) => (
              <li>
                <a
                  class={cn(
                    "[--menu-active-bg:bg-base-100] [--menu-active-fg:var(--color-base-content)]",
                    child.active(Astro.url.pathname) && "menu-active",
                  )}
                  href={child.link}
                >
                  {child.name}
                </a>
              </li>
            ))}
          </ul>
        </div>
      );
    })
  }
</div>
